:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.cart-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.cart-section {
  margin-bottom: 40px;
}

.cart-section-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.cart-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ff4c4c;
}

.cart-total {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-link1, .cart-link2 {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.cart-link1:hover, .cart-link2:hover {
  background-color: #333;
}






.auth-page {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-main {
  width: 100%;
}
.login-container {
  width: 40%;
  border: 1px solid #000;
  border-radius: 50px;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}
.title {
  margin: 1rem 0;
  text-align: center;
  margin-top: 2rem;
}
:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-main {
  width: 100%;
}
.login-container {
  width: 40%;
  border: 1px solid #000;
  border-radius: 50px;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}
.title {
  margin: 1rem 0;
  text-align: center;
  margin-top: 2rem;
}

.form {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 288px;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2.3rem;
}

.form input {
  outline: none;
}

.form input[type=text],
.form input[type=email],
.form input[type=password]{
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  padding-bottom: 0.6rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid #000;
  font-family: 'Poppins';
  transition: border 0.3s ease;
}

.form input[type=submit],
.form button {
  width: 85%;
}

.label {
  position: absolute;
  top: 1rem;
  left: 0;
  font-weight: 500;
  transition: all 0.3s ease;
}

.form input:focus + .label,
.form input:not(:placeholder-shown) + .label {
  top: -0.2rem;
  color: #615e5f;
  font-size: 0.8rem;
}

/* .form input:focus {
  border-bottom: 3px solid #be0027;
} */

.btn {
  padding: 0.7rem 4.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  /* opacity: 0.7; */
  background-color: #504f50;
}

/* .btn:focus {
  border: none;
} */

.btn-submit {
  color: #FFF;
  background-color: #615e5f;
}
.login-registration-container {
  margin-top: 1em;
}
.login-registration {
  color: #615e5f;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  /* width: 60%; */
  text-decoration: none;

  transition: 0.3s ease;
}
.login-registration:hover {
  color: hsl(340, 2%, 34%);
}

.error-message {
  color: red;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}


/* Reset Password */


/* Контейнер сторінки */
.reset-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Заголовок */
.reset-password-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Форма */
.reset-password-form {
  display: flex;
  flex-direction: column;
}

.reset-password-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.reset-password-form button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-form button:hover {
  background-color: #45a049;
}

/* Повідомлення */
.reset-password-message {
  margin-top: 15px;
  font-size: 14px;
  color: #4caf50;
}

.reset-password-message.error {
  color: #f44336;
}

.forgotPassword {
  color: #615e5f;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}
.forgotPassword-container {
  margin-top: 5px;
  width: 100%;
}
.forgotPassword-container button, .modal-button {
  padding: 0.7rem 4.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  color: #FFF;
  background-color: #615e5f;
  display: block;
  margin: 5px auto;
}



/* Model window */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-section-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #646668;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-section-button:hover {
  background-color: #464748;
}

/* Forgot Password */
.forgot-password-container {
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Abel', sans-serif;
}

.forgot-password-title {
  text-align: center;
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 20px;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.forgot-password-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #646668;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-button:hover {
  background-color: #464748;
}

.forgot-password-message {
  margin-top: 15px;
  font-size: 1rem;
  color: green;
  text-align: center;
}
